---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-15" />
    <p class="max-w-xl m-auto text-lg">
      want to chat? hit me up on <a
        href="https://linkedin.com/in/iamnande"
        target="_blank"
        class="link link-hover text-primary"
        >linkedin</a>, i will respond when able.
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - Crafted by an Artisan <a
        class="link"
        href="https://lauroguedes.dev"
        target="_blank"
        ><Pickaxe class="size-3 inline-block mr-1" />Lauro Guedes</a
      >
    </p>
  </aside>
</footer>
