@import "tailwindcss";
@import "@nuxt/ui";

@import "@fontsource-variable/geist-mono";
@import "@fontsource/atkinson-hyperlegible";

@theme {
  /*  why everforest? well, why not? it's my ride-or-die. catppuccin tried.
      seemed a better cohesive palette to work with i find pleasing. after all,
      this is _my_ platform. eventually we can get freaky with a custom
      palette. today is not that day.
  */
  /* background */
  --color-dark-background: #1e2326;

  /* surfaces */
  --color-dark-surface:          #272e33;
  --color-dark-surface-elevated: #2e383c;
  --color-dark-surface-accented: #374145;

  /* foregrounds */
  --color-light-background:        #d3c6aa;
  --color-light-background-muted:  #9da9a0;
  --color-light-background-dimmed: #7a8478;

  /* accents */
  --color-accent:        #a7c080;
  --color-accent-muted:  #8fa868;
  --color-accent-dimmed: #71894f;

  /*
    oh. my. gosh. becky! look at his fonts.
  */
  /* our font */
  --font-ours: "Geist Mono Variable", monospace;
  --font-sans: "Geist Mono Variable", monospace;
  --font-serif: "Geist Mono Variable", monospace;
  --font-mono: "Geist Mono Variable", monospace;

  /* our font for reading */
  --font-ours-for-reading: "Atkinson Hyperlegible", sans-serif;

  /* container */
  --container-8xl: 90rem;
}

:root {
  --ui-primary:     var(--color-accent);

  --ui-bg:          var(--color-dark-background);
  --ui-bg-muted:    var(--color-dark-surface);
  --ui-bg-elevated: var(--color-dark-surface-elevated);
  --ui-bg-accented: var(--color-dark-surface-accented);
  --ui-bg-inverted: var(--color-light-background);

  --ui-text:             var(--color-light-background);
  --ui-text-muted:       var(--color-light-background-muted);
  --ui-text-dimmed:      var(--color-light-background-dimmed);
  --ui-text-highlighted: var(--color-light-background-muted);
  --ui-text-inverted:    var(--color-dark-background);

  --ui-border:          var(--color-dark-surface-elevated);
  --ui-border-muted:    var(--color-dark-surface);
  --ui-border-accented: var(--color-dark-surface-accented);
  --ui-border-inverted: var(--color-light-background);

  --ui-radius:    var(--radius-sm);
  --ui-container: var(--container-6xl);

  --ui-container: var(--container-8xl);
}
